<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Blog App </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheet/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="ui inverted fixed menu">
      <div class="ui container">
        <div class="header item"><i class="code icon"></i>
          RestBlogs
        </div>
        <div class="right menu">
          <a href="/" class="item">Home</a>
          <a href="/blogs/new" class="item">Create blog</a>
        </div>
      </div>
    </div>
  